@model IEnumerable<Homework1.Models.Products>

@{
    ViewBag.Title = "ProductsView";
}

<h2>@Resources.Resource.ProductList</h2>



<div class="container-fluid">
    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-lg-5 well item">
               <span>ID: @p.ProductId</span>
               <br />
                <strong>@p.ProductName</strong>
                <div class="pull-right">
                    <em>@p.UnitPrice UAH</em>
                </div> 
            </div>
        }
    </div>
</div>

